@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

Welcome to the app for managing machine failures. Here you can view and manage machine failures, as well as access other features of the application. Use the navigation menu to explore the different sections of the app.
